.spacer10 {
	height:10px;
	width: 100%; 
}

.spacer25 {
	height: 25px;
	width: 100%; 
}

.spacer50 {
	height: 50px;
	width: 100%;
}

.spacer100 {
	height: 100px;
	width: 100%;
}

.spacer150 {
	height: 150px;
	width: 100%;
}

.spacer200 {
	height: 200px;
	width: 100%;
}