:root{
    --jet         : #333333;
    --seablue     : #016295;
    --silver      : #BFBFBF;
    --platinum    : #E8E8E8;
    --snow        : #FCF7F8;
}

* {
    box-sizing: border-box;
}

body{
    height: 100%;
}

h1 {
  text-align: center; 
  font-family: 'Raleway', sans-serif;
  color: #016295;
}

td {
	padding: 17px; 	
}

.bar1 {
	width: 90%;
	background-color: var(--seablue);
	background-color: #016295;
	height: 3px;
	margin: 15px auto;
}

/* Create three equal columns that floats next to each other */
.column {
    width: 30%;
    float: left; 
    
    padding: 10px;
    
    background-color: var(--snow);
	background-color: #FCF7F8; 
    margin-top: 1.66%;
    margin-right: 1.66%;
    margin-left: 1.66% ;
    border-radius: 3px;
    margin-bottom: 40px; 
	
	border: 2px solid var(--seablue); 
	border: 2px solid #016295; 
	border-radius: 50px;
}

.innercolumn {
	width: 49%;
	float: left;
	text-align: center; 
	font-family: Arial;
	font-size: 20px; 
}

/* Clear floats after the columns */
.row {
	background-color: var(--snow);
	background-color: #FCF7F8;
}

.row:after{
    clear: both;
    content: "";
    display: table;
    margin: 0 auto; 
    clear: both; 
    flex-direction: column;
}

.hidden_row:after{
    clear: both;
    content: "";
    display: table;
    margin: 0 auto; 
    clear: both; 
    flex-direction: column;
}

.hidden_column {
    width: 30%;
    float: left;    
    padding-left: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    background-color: var(--platinum);
	background-color: #E8E8E8; 
    margin-bottom: 1.66%;
    margin-right: 1.66%;
    margin-left: 1.66% ;
    border-radius: 3px;
}

.positions {
	margin: 0 auto; 
	font-family: 'nunito';
	font-size: 20px;  
}

.bar {
    width: 90%;
    height: 3px;
    background-color: var(--seablue);
	background-color: #016295; 
    border-radius: 5px; 
    margin: 0 auto; 
}

.member {
	text-align: center;
	font-family: 'Nunito'; 
	font-size: 20px;
	color: #191919;
}

.description {
	width: 90%;
	margin-left: 5%; 
    text-align: justify;
    font-family: 'Nunito'; 
    font-size: 20px;
    color: #191919;
}

.picContainer {
	width: 100%;
	height: 690px;
}

.teampic {
	width: 100%;
	height: 690px; 
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/rideaucanal1.jpg');
	background-size: cover;
	background-repeat: no-repeat;
}

.imageText {
	display: table;
	font-family: 'raleway';
	font-size: 60px;
	color: var(--snow);
	color: #FCF7F8; 
	padding: 0px 60px; 
	padding-top: 150px; 
	margin: 0 auto;
}

.imageText2 {
	display: table;
	font-family: 'raleway';
	font-size: 22px;
	color: var(--snow);
	color: #FCF7F8; 
	padding-top: 20px;
	margin: 0 auto;
	margin-left: 60%;
}

.filler {
	background-color: var(--jet);
	background-color: #333333; 
	width:100%;
	height:47px; 
	margin-top: -4px; 
}

.filler2 {
	background-color: var(--seablue);
	background-color: #016295; 
	width: 100%;
	height: 51px;
}

.imgdiv{
    width: 100%;
    text-align: center;
    vertical-align: bottom;
}
.dropimg{
	cursor: pointer;
    margin: auto;
    width: 40px;
    height: 40px;
}

#mark {
	display: inline-block; 
	cursor: pointer; 
}

.material-icons.md-48 { 
    font-size: 48px; 
    cursor: pointer;
    color: #016295;
    border-radius: 50%;

    transition-property: background, border-radius;
	transition-duration: .4s;
	transition-timing-function: ease-out;

}

.material-icons.md-48:hover{
    background: rgba(1,98,149,0.8);
    border-radius: 50%;
    color: white;
}

@media only screen and (max-width: 800px){
    .column{
        width:90%;
        margin-left: 5%;
        margin-right: 5%;
        display: inline-block;
        color: #016295;
    }
}


